.background{
    background-image:url("5236199.jpg");
    margin-top:0;
    height:1000px;
}

video{
    border-radius:10%;
    border:10px solid rgb(253, 185, 255);
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    padding-top:50px
}