h1{
    font-family:Tahoma;
    font-size:50px;
    text-align:center;
    color:white;
    margin-top:0;
    padding:25px 25px;
}

h2{
    font-family:Tahoma;
    font-size:30px;
    text-align:left;
    color:white;
    margin-top:0;
    padding:25px 25px;
}

.text1{
    color:black;
}

.text2{
    color:white;
}

.header{
    background-color:#17072b;
}

.menu a{
    color:white;
    text-decoration: none;
    font-size:37px;
    font-family:Arial;
    padding: 15px 17px;
    margin-bottom:20px
}

.menu a:hover{
    text-decoration:underline;
}

.menu a:active{
    text-decoration:none;
}

article{
    margin: auto 0;
}

aside{
    float:right;
    text-align:left;
    background-color:#172d67;
    font-family:Arial;
    font-size:30px;
    color:white;
    margin-top:0;
    padding:25px 40px;
}

.welcome{
    float:left;
    text-align:left;
    font-family:Arial;
    font-size:30px;
    color:black;
    margin-left: 50;
    margin-right: 20;
    max-width: 700;
    margin-top:0;
    padding:25px 25px;
}

footer{
    background-color:#8c15e9;
    color:white;
    text-align:center;
    margin-top:auto;
    font-size:30px;
    font-family:Arial;
    padding:25px 25px;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}